NEXTCLOUD_ADMIN_USER=hivemaster
NEXTCLOUD_ADMIN_PASSWORD=CHANGE_ME
NEXTCLOUD_TRUSTED_DOMAINS=cloud.apiaries.ai localhost
POSTGRES_HOST=apiaries-postgres
POSTGRES_DB=nextcloud
POSTGRES_USER=hivemaster
POSTGRES_PASSWORD=CHANGE_ME
SMTP_HOST=192.168.9.10
SMTP_PORT=587
SMTP_SECURE=tls
SMTP_NAME=nextcloud@apiaries.ai
SMTP_PASSWORD=CHANGE_ME
MAIL_FROM_ADDRESS=nextcloud
MAIL_DOMAIN=apiaries.ai
